@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";

@font-face {
  font-family: "Arial Caps";
  src: url("/assets/bpg-arial-caps-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dejavu Sans";
  src: url("/assets/dejavu-sans-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #fff;
  --foreground: #171717;
}

.arial-caps {
  font-family: "Arial Caps", sans-serif;
}

.dejavu-sans {
  font-family: "Dejavu Sans", sans-serif;
}

.bg-sky{
  background-color: #f1f3f8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color-scheme: light;
}
